@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vmax;
    overflow: hidden;
    height: 30vh;

}

.quote > p:hover {
    border: 2px groove pink;
    transform: rotate(180deg);
}


.left {

    background-image: url("pics/background.jpg");
    background-size:100% 100%;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left > img {
    width: 20vmin;
}

.left > p {
    font-size: 5vmin;
    color: #FFFFFF;
    text-shadow:  3px 3px black;

}

.right {
  width: 70vw;  
}

body {
  display: flex;
  margin-top: 0;
  font-family: roboto, sans-serif;
}


.right > div {
    background-color: #061754;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: roboto;
    margin-bottom: 0px;
}

.right > div > p {
    padding: 3rem;
}

#a-form > legend {
    padding-left: 2.9rem;
    padding-top: 0.5rem;
}

#a-form {
    font-weight: 500;
    letter-spacing: 1px;
    height: 50vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #01051a;
    box-shadow: 2px 2px black;
    color:#ffffff;
}

#formList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.litems {
    margin: 10px;
    font-family: roboto;
    display: flex;
   
}


.litems > input, .litems > label {
    display: flex;
    flex: 1;
    height: 3vh;
    font-size: 2vh;
}

#textarea {
    display: flex;
    flex-direction: column;
    width: 25vw;

}

.litems > label > input, .litems > textarea {
    background-color: #FFFFFFF;
}

#textarea > textarea {
    overflow: hidden;
    height: 20vh;
}

.bottom-right {
height: 20vh;
display: flex;
justify-content: center;
align-items: center;
}



#submit {
height: 6vh;
width: 18vh;
border-radius: 6px;
box-shadow: 2px 2px;
}

#submit:hover {
    background-color: #01051a;
    color: #FFFFFF;
    
}

input:focus, textarea:focus {
outline: 2px solid #2b4bff;
box-shadow: 2px 2px black;
}

form > legend {
    font-size: 1rem;
}

