
.stretch {
    width: 30vw;
    object-fit: fill;
    height: 100vh;

}

body {
  display: flex;
}

.form {
    display: flex;
}

.leftForm {
    display: flex;
    flex-direction: column;
}

.rightForm {
    display: flex;
    flex-direction: column;
    align-items: end;
}